
[Desktop Entry]
Name=guitarix
Name[fr]=guitarix
Name[ru]=Guitarix
Name[sk]=guitarix
GenericName=Mono Amplifier
GenericName[fr]=Amplificateur mono
GenericName[ru]=Моноусилитель
GenericName[sk]=Mono zosilňovač
Comment=Simple mono amplifier simulation
Comment[fr]=Simulation d'amplificateur mono simple
Comment[ru]=Простой виртуальный моноусилитель
Comment[sk]=Jednoduchá simulácia monofónneho zosilňovača
Exec=AppRun
Icon=guitarix
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Terminal=false
Type=Application
Keywords=Audio;Sound;Guitar;Amplifier;Record;Midi;Jack;
X-NSM-Capable=true
